{% from "loadbalancer/map.jinja" import loadbalancer with context -%}
{% set loadbalancer = salt['pillar.get']('loadbalancer', {}) -%}
{{ loadbalancer.get('sslkey') }}
{{ loadbalancer.get('sslcert') }}